html {
    font-family: Arial,sans-serif;
    display: flex;
    flex-direction: column;
}
.navbar {
    text-align: right;
    background-color: powderblue;
    height: 60px;
}

.Google {
    height:272px;
    background-color:greenyellow;
}

.Logo  {
    padding:100px;
}
body {

    height:100%;
    background-color: red;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    border-radius: 25px;
    border-width: 1px;
    border-color:grey;
}
